* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #ecf1f5;
}
.graphic {
    height: 690px;
}
.button-lapse-time {
    padding: 5px 15px;
    background: cadetblue;
    color: white;
    border-color: #38bec7;
    cursor: pointer;
    margin-left: 25px;
}